.create-workout {
    cursor: pointer;
    border-radius: 25px;
    border-width: 0;
    width: 200px;
    font-size: 90%;
    height: 50px;
    color: white;
    background-color: dodgerblue;
}
.create-workout:hover {
    opacity: 0.9;
    background-color: #0f77de;
}