.create-workout {
    cursor: pointer;
    border-radius: 25px;
    border-width: 0;
    width: 200px;
    font-size: 90%;
    height: 50px;
    color: white;
    background-color: dodgerblue;
}
.create-workout:hover {
    opacity: 0.9;
    background-color: #0f77de;
}
.logo {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.logo-container {
    padding: 10px 16px;
    margin-bottom: 20px;
    text-align: center;
}