.sidenav {
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #161618;
    overflow-x: hidden;
}

.sidenav a {
    padding: 10px 10px 8px 16px;
    margin: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: block;
    border-radius: 10px;
}

.sidebar-home-img {
    margin-right: 7px;
    width: 23px;
}

.sidebar-profile-img {
    margin-right: 7px;
    width: 20px;
}

.sidebar-routines-img {
    margin-right: 7px;
    width: 20px;
}

.sidenav a:hover {
    background-color: #191919;
}

.main {
    margin-left: 256px;
    padding: 0 10px;
}
.body {
    background-color: #000000;
}

.sidenav a.active-page{
    color:dodgerblue;
    background-color: #252525;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.logo {
    margin-right: 100px;
    max-width: 50%;
    height: auto;
    display: block;
}
.logo-container {
    padding: 10px 16px;
    margin-bottom: 20px;
    text-align: center;
}

.logout-button {
    height: 30px;
    width: 30px;
    border: none;
    margin: 0;
    right: 0;
}

.sidebar-user-name{
    padding: 15px 16px 0 16px;
    margin-left: 15px;
    margin-right: 15px;
    color: #ffffff;
    font-size: 17px;
}

.sidebar-bottom{
    display: flex;
    padding-top: 20px;
    right: 0;
}