<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strain</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/sidenav.css}">
</head>
<body class="body">
<div class="sidenav">
    <img src="/strain-logo.png" alt="strain" class="logo">
    <a href="/dashboard" class="active-page">
        <img src="/home-active.png" alt="Home" class="sidebar-home-img">Home
    </a>
    <a href="/routines">
        <img src="/routines.png" alt="Routines" class="sidebar-routines-img">Routines
    </a>
    <a href="/profile">
        <img src="/profile.png" alt="Profile" class="sidebar-profile-img">Profile
    </a>
    <div th:text="|${user.firstName} ${user.lastName}|" class="sidebar-user-name"></div>
</div>
<div sec:authorize="isAuthenticated()" class="main">
    <h1 th:text="'Welcome, ' + ${user.firstName} + '!'"></h1>
    <p th:text="'Your workouts:' "></p>
    <table>
        <tr th:each="workout : ${workouts}">
            <td th:text="${workout.getExercises()}"></td>
        </tr>
    </table>
    <input type="button" onclick="location.href='/workouts/new'" value="Create workout" class="create-workout"/>
</div>
</body>
</html>