<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strain</title>
    <link  rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="main">
    <span style="font-size: 32px">Sign in</span>
    <form class="form1" th:action="@{/login}" th:object="${user}" method="post">
        <label class="form-label" for="email">Email</label>
        <input style="text-indent:10px; margin-bottom: 16px" class="form-input" id="email" th:field="*{email}">

        <label class="form-label" for="password">Password</label>
        <input style="text-indent:10px" type="password" class="form-input" id="password" th:field="*{password}">

        <button type="submit" class="forgot-password">Forgot password?</button>
        <button type="submit" class="sign-up-button">Sign in</button>
    </form>
    <form th:action="@{register}" method="get">
        <button type="submit" class = "alr-have-acc">
            <span>Don't have an account yet?</span>
            <span style="text-decoration: underline; color: dodgerblue">Register</span>
        </button>
    </form>
</div>
</body>
</html>