<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strain</title>
    <link rel="stylesheet" th:href="@{/css/sidenav.css}">
</head>
<body>
<div class="sidenav">
    <img src="/strain-logo.png" alt="strain" class="logo">
    <a href="/dashboard">
        <img src="/home.png" alt="Home" class="sidebar-home-img">Home
    </a>
    <a href="/routines">
        <img src="/routines.png" alt="Routines" class="sidebar-routines-img">Routines
    </a>
    <a href="/profile" class="active-page">
        <img src="/profile-active.png" alt="Profile" class="sidebar-profile-img">Profile
    </a>
</div>
</body>