<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strain</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="main">
    <span style="font-size: 32px; margin-bottom: 50px ">Sign up</span>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="errors">
            <th:block th:if="${errorMessage} != null">
                <p th:text="'•' + ${errorMessage}"/>
            </th:block>
            <tr th:each="error : ${#fields.allErrors()}">
                <td th:text="'•' + ${error}"/>
            </tr>
        </div>

        <div>
            <label class="form-label" for="first-name">Name</label>
        </div>
        <div style="display: flex; gap: 3% ">
            <input style="text-indent:10px" placeholder="First name" class="name-input" id="first-name" th:field="*{firstName}">
            <input style="text-indent:10px" placeholder="Last name" class="name-input" id="last-name" th:field="*{lastName}">
        </div>
        <br>

        <label class="form-label" for="email">Email</label>
        <input style="text-indent:10px; margin-bottom: 16px" placeholder="Email" class="form-input" id="email" th:field="*{email}">

        <label class="form-label" for="password">Password</label>
        <input style="text-indent:10px;margin-bottom: 69px" placeholder="Password" type="password" class="form-input" id="password" th:field="*{password}">

        <button class="sign-up-button" type="submit">Sign up</button>
        <input type="button" class="alr-have-acc" onclick="location.href='/login'" value="I already have an account"/>
    </form>
</div>
</body>
</html>